.portfolio {
    display: contents;
}

.filter {
    display: flex;
    align-content: center;
}

.images-portfolio {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}